{% extends "base.html" %}
{% block body_attributes %} class="login-page bg-body-secondary"{% endblock %}
{% block body %}
    <main class="login-box">
        {% block login_logo %}
            <h1 class="login-logo">
                <a href="{{ url_for(__name__ ~ ':index') }}">
                    {% if login_logo_url(request) or logo_url(request) %}
                        <img src="{{ login_logo_url(request) or logo_url(request) }}"
                             height="36"
                             alt="{{ app_title }}" />
                    {% else %}
                        <b>{{ app_title }}</b>
                    {% endif %}
                </a>
            </h1>
        {% endblock %}
        <div class="card">
            <div class="card-body login-card-body">
                {% block login_title %}
                    <p class="login-box-msg">{{ _("Sign in to start your session") }}</p>
                {% endblock %}
                {% if error %}
                    <div class="alert alert-danger alert-dismissible d-flex align-items-center"
                         role="alert">
                        <i class="{{ icon('flash.error') }} me-2"></i>
                        <div class="flex-grow-1">{{ error }}</div>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="alert"
                                aria-label="{{ _('close') }}"></button>
                    </div>
                {% endif %}
                <form action="{{ request.url }}" method="POST" autocomplete="off">
                    {{ csrf_input(request) }}
                    {% block login_form_before %}{% endblock %}
                    {% block login_fields %}
                        <label class="visually-hidden" for="loginUsername">{{ _("Username") }}</label>
                        <div class="input-group mb-3">
                            <input type="text"
                                   id="loginUsername"
                                   name="username"
                                   class="form-control {% if form_errors and form_errors.has('username') %}is-invalid{% endif %}"
                                   placeholder="{{ _('Username') }}"
                                   autocomplete="username" />
                            <div class="input-group-text">
                                <span class="fa-solid fa-user"></span>
                            </div>
                            {% if form_errors and form_errors.has('username') %}
                                <div class="invalid-feedback d-block">{{ form_errors.msg("username") }}</div>
                            {% endif %}
                        </div>
                        <label class="visually-hidden" for="loginPassword">{{ _("Password") }}</label>
                        <div class="input-group mb-3">
                            <input type="password"
                                   id="password"
                                   name="password"
                                   class="form-control {% if form_errors and form_errors.has('password') %}is-invalid{% endif %}"
                                   placeholder="{{ _('Password') }}"
                                   autocomplete="current-password" />
                            <div class="input-group-text">
                                <a href="#"
                                   id="toggle-password"
                                   class="text-secondary"
                                   title="{{ _('Show password') }}"
                                   data-bs-toggle="tooltip"
                                   tabindex="-1">
                                    <span id="icon-eye" class="fa-solid fa-eye"></span>
                                    <span id="icon-eye-off" class="fa-solid fa-eye-slash d-none"></span>
                                </a>
                            </div>
                            {% if form_errors and form_errors.has('password') %}
                                <div class="invalid-feedback d-block">{{ form_errors.msg("password") }}</div>
                            {% endif %}
                        </div>
                    {% endblock %}
                    {% block login_form_footer %}
                        <div class="row">
                            <div class="col-8">
                                <div class="form-check">
                                    <input name="remember_me"
                                           type="checkbox"
                                           class="form-check-input"
                                           id="rememberMe" />
                                    <label class="form-check-label" for="rememberMe">{{ _("Remember me") }}</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="d-grid gap-2">
                                    <button type="submit" class="btn btn-primary">{{ _("Sign in") }}</button>
                                </div>
                            </div>
                        </div>
                    {% endblock %}
                </form>
                {% block login_social_auth %}{% endblock %}
            </div>
        </div>
        {% block login_card_footer %}{% endblock %}
    </main>
{% endblock %}
{% block script %}
    {{ super() }}
    <script>
        document.getElementById('toggle-password').addEventListener('click', function(e) {
            e.preventDefault();
            var input = document.getElementById('password');
            var eyeIcon = document.getElementById('icon-eye');
            var eyeOffIcon = document.getElementById('icon-eye-off');
            if (input.type === 'password') {
                input.type = 'text';
                eyeIcon.classList.add('d-none');
                eyeOffIcon.classList.remove('d-none');
            } else {
                input.type = 'password';
                eyeIcon.classList.remove('d-none');
                eyeOffIcon.classList.add('d-none');
            }
        });
    </script>
{% endblock %}
