*.pyc
env*
.mypy_cache
.vscode
.idea
poetry.lock
dist
htmlcov
*.egg-info
.coverage*
coverage.xml
site
*.db
*.sqlite
.cache
__pycache__/
.pytest_cache/
.examples/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
