site_name: Starlette Admin
site_description: Fast, beautiful and extensible administrative interface framework for Starlette/FastApi applications
site_url: https://jowilf.github.io/starlette-admin
repo_name: jowilf/starlette-admin
repo_url: https://github.com/jowilf/starlette-admin
edit_uri: https://github.com/jowilf/starlette-admin/tree/main/docs
theme:
  name: material
  favicon: assets/favicon.ico
  icon:
    logo: material/database-settings
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

  features:
    - content.code.copy
    - content.action.view
    - search.suggest
    - search.highlight
    - navigation.tabs
    - navigation.footer
    - content.tabs.link

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - attr_list

plugins:
  - search
  - blog
  - mkdocstrings:
      handlers:
        python:
          rendering:
            show_root_heading: true
            show_source: true
  - i18n:
      docs_structure: suffix
      fallback_to_default: true
      languages:
        - build: true
          default: true
          locale: en
          name: English
        - build: true
          default: false
          locale: es
          name: Español
          nav_translations:
            API Reference: Referencia de la API
            Admin: Admin
            Advanced User Guide: Guía de Usuario Avanzada
            Alternatives, Inspiration and Comparisons: Alternativas, Inspiración y Comparaciones
            Authentication: Autenticación
            Changelog: Registro de Cambios
            Configurations: Configuraciones
            Custom Field: Campos Personalizados
            Extending BaseModelView: Extendiendo BaseModelView
            Forms Validations: Validación de Formularios
            Getting Started: Empezando
            Managing Files: Administrando Archivos
            ModelView: ModelView
            Multiple Admin: Multiples Admin
            Overview: Visión General
            Tutorial - User Guide: Tutoriales - Guía de Usuario
      reconfigure_material: true
      reconfigure_search: true

watch:
  - starlette_admin

extra_css:
  - stylesheets/extra.css

nav:
  - Overview: 'index.md'
  - Tutorials:
      - Introduction: 'tutorials/index.md'
      - Building your first admin panel: 'tutorials/basic/index.md'
  - User Guide:
      - Getting Started: 'user-guide/getting-started/index.md'
      - Configurations:
          - Admin: 'user-guide/configurations/admin/index.md'
          - ModelView: 'user-guide/configurations/modelview/index.md'
      - Forms Validations: 'user-guide/validations/index.md'
      - Authentication: 'user-guide/authentication/index.md'
      - Managing Files: 'user-guide/files/index.md'
      - Actions: 'user-guide/actions/index.md'
      - Multiple Admin: 'user-guide/multiple-admin/index.md'
  - Advanced User Guide:
      - Custom Field: 'advanced/custom-field/index.md'
      - Extending BaseModelView: 'advanced/base-model-view/index.md'
  - Deployment: 'deployment/index.md'
  - Alternatives, Inspiration and Comparisons: 'alternatives/index.md'
  - API Reference:
      - Contrib:
          - SQLAlchemy:
              - ModelView: 'api/contrib/sqlalchemy/modelview/index.md'
      - Fields: 'api/fields/index.md'
      - Views: 'api/views/index.md'
      - BaseAdmin: 'api/base-admin/index.md'
      - Auth: 'api/auth/index.md'
      - Actions: 'api/actions/index.md'
  - Changelog: 'changelog/index.md'

extra:
  analytics:
    provider: google
    property: G-PRC6TQ4K82
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/jowilf
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/jowilf
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/jocelin-hounon-2008aa139
