{% if 'weeks' in data %}<span>{{data.weeks}} weeks</span>{% endif %}
{% if 'days' in data %}<span>{{data.days}} days</span>{% endif %}
{% if 'hours' in data %}<span>{{data.hours}} hours</span>{% endif %}
{% if 'minutes' in data %}<span>{{data.minutes}} minutes</span>{% endif %}
{% if 'seconds' in data %}<span>{{data.seconds}} seconds</span>{% endif %}
{% if 'milliseconds' in data %}<span>{{data.milliseconds}} milliseconds</span>{% endif %}
{% if 'microseconds' in data %}<span>{{data.microseconds}} microseconds</span>{% endif %}