<div class="card-footer text-black">
    <div class="btn-list ms-auto justify-content-end">
        <a href="{{ back_url(request, view.key) }}"
           class="{{ cls('form.cancel_button') }}">
            <i class="{{ icon('form.cancel') }} sa-animate-icon me-1"></i>{{ _("Cancel") }}
        </a>
        <button type="submit"
                name="_add_another"
                class="{{ cls('form.save_add_button') }}">{{ _("Save and add another") }}</button>
        <button type="submit"
                name="_continue_editing"
                class="{{ cls('form.save_continue_button') }}">{{ _("Save and continue editing") }}</button>
        <button type="submit" class="{{ cls('form.save_button') }}">
            {{ _("Save") }}
            <i class="{{ icon('form.save') }} sa-animate-icon ms-1"></i>
        </button>
    </div>
</div>
