{% extends "layout.html" %}
{% block header %}
    <div class="d-flex justify-content-between align-items-center">
        {% block page_title %}<h1>{{ view.menu_label }}</h1>{% endblock %}
        {% block breadcrumbs %}
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{ url_for(__name__ ~ ':index') }}">{{ _("Admin") }}</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{{ breadcrumb_list_url(request, view.key) }}">{{ view.menu_label }}</a>
                </li>
                <li class="breadcrumb-item active">{{ _("Create") }}</li>
            </ol>
        {% endblock %}
    </div>
{% endblock %}
{% block content %}
    <form action="{{ request.url }}"
          method="POST"
          enctype="multipart/form-data">
        {{ csrf_input(request) }}
        {% block form_before %}
        {% endblock %}
        <div class="row row-deck row-cards">
            <div class="col-12">
                <div class="card">
                    {% block create_card_header %}
                        <div class="card-header">
                            <div class="container-fluid">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h3 class="card-title">{{ _("New %(name)s", name=view.display_name) }}</h3>
                                </div>
                            </div>
                        </div>
                    {% endblock %}
                    <div class="card-body py-3">{% block create_form %}{{ form_body }}{% endblock %}</div>
                    {% block create_inlines %}
                        {% for inline_ctx in inlines %}
                            {% with inline=inline_ctx.inline, rows=inline_ctx.rows %}
                                {% include inline.inline_template %}
                            {% endwith %}
                        {% endfor %}
                    {% endblock %}
                    {% block form_footer %}
                        {% include "_form_footer.html" %}
                    {% endblock %}
                </div>
            </div>
        </div>
        {% block form_after %}{% endblock %}
    </form>
{% endblock %}
{% block modal %}
    {{ super() }}
    {% include "modals/loading.html" %}
{% endblock %}
{% block head_css %}
    {{ super() }}
    {% for link in widget_additional_css %}<link rel="stylesheet" href="{{ link }}">{% endfor %}
    {% for link in view._additional_css_links(request) %}<link rel="stylesheet" href="{{ link }}">{% endfor %}
{% endblock %}
{% block script %}
    {{ super() }}
    <script type="text/javascript"
            src="{{ static_url(request, 'js/form.js', v=1) }}"></script>
    {% for link in widget_additional_js %}<script type="text/javascript" src="{{ link }}"></script>{% endfor %}
    {% for link in view._additional_js_links(request) %}
        <script type="text/javascript" src="{{ link }}"></script>
    {% endfor %}
{% endblock %}
