{% extends "base.html" %}
{% import "macros/views.html" as macros with context %}
{% if is_auth_enabled and not request.state.is_anonymous %}
    {% set current_user = request.state.admin_user %}
{% endif %}
{% block body %}
    <div class="page">
        {% block sidebar %}
            <aside class="navbar navbar-vertical navbar-expand-lg" data-bs-theme="dark">
                <div class="container-fluid">
                    <button class="navbar-toggler"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#sidebar-menu"
                            aria-controls="sidebar-menu"
                            aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <h1 class="navbar-brand navbar-brand-autodark">
                        <a class="brand-link" href="{{ url_for(__name__ ~ ':index') }}">
                            {% block brand %}
                                {% if logo_url(request) %}
                                    <img src="{{ logo_url(request) }}"
                                         class="navbar-logo"
                                         alt="{{ app_title }}" />
                                {% else %}
                                    <h3 class="text-center text-wrap">{{ app_title }}</h3>
                                {% endif %}
                            {% endblock %}
                        </a>
                    </h1>
                    {% if current_user or i18n_config.language_switcher or (timezone_config and timezone_config.timezone_switcher) %}
                        <div class="navbar-nav flex-row d-lg-none">
                            {% if i18n_config.language_switcher %}
                                <div class="nav-item dropdown">
                                    <a href="#"
                                       class="nav-link"
                                       data-bs-toggle="dropdown"
                                       aria-expanded="false"
                                       aria-label="{{ _('Change language') }}">
                                        <i class="{{ icon('nav.language') }}" aria-hidden="true"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                        {% for lang in i18n_config.language_switcher %}
                                            <a href="#"
                                               class="dropdown-item language-switcher-item"
                                               data-lang="{{ lang }}"
                                               data-cookie-name="{{ i18n_config.language_cookie_name }}">{{ get_locale_display_name(lang) }}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                            {% if timezone_config and timezone_config.timezone_switcher %}
                                <div class="nav-item dropdown">
                                    <a href="#"
                                       class="nav-link"
                                       data-bs-toggle="dropdown"
                                       aria-expanded="false"
                                       aria-label="{{ _('Change timezone') }}">
                                        <i class="{{ icon('nav.world') }}" aria-hidden="true"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                        {% for tz in timezone_config.timezone_switcher %}
                                            <a href="#"
                                               class="dropdown-item timezone-switcher-item"
                                               data-tz="{{ tz }}"
                                               data-cookie-name="{{ timezone_config.timezone_cookie_name }}">{{ get_timezone_display_name(tz, show_offset=True) }}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                            {% if current_user %}
                                <div class="nav-item dropdown ms-3">
                                    <a href="#"
                                       class="nav-link d-flex lh-1 text-reset p-0"
                                       data-bs-toggle="dropdown"
                                       aria-label="Open user menu">
                                        {% block user_menu_trigger %}
                                            <span class="avatar avatar-sm"
                                                  {% if current_user.photo_url %}style="background-image: url({{ current_user.photo_url }})"{% endif %}>
                                                {% if not current_user.photo_url %}
                                                    <i class="{{ icon('nav.user') }}"></i>
                                                {% endif %}
                                            </span>
                                            <div class="d-none d-xl-block ps-2">
                                                <div>{{ current_user.username }}</div>
                                            </div>
                                        {% endblock %}
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                        {% block user_menu_items %}
                                            <form action="{{ request.url_for(__name__ ~ ':logout') }}"
                                                  method="post"
                                                  class="m-0">
                                                {{ csrf_input(request) }}
                                                <button type="submit" class="dropdown-item">{{ _("Logout") }}</button>
                                            </form>
                                        {% endblock %}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                    <div class="collapse navbar-collapse" id="sidebar-menu">
                        {% block sidebar_menu %}
                            <ul class="navbar-nav pt-lg-3">
                                {% for view in views if view.is_accessible(request) %}
                                    {% if (view| is_link) %}
                                        {{ macros.extern_link(view) }}
                                    {% elif (view| is_custom_view) and view.add_to_menu %}
                                        {{ macros.custom_link(view) }}
                                    {% elif (view| is_model_view) %}
                                        {{ macros.view_link(view) }}
                                    {% elif (view | is_dropdown) %}
                                        {{ macros.dropdown_link(view) }}
                                    {% endif %}
                                {% endfor %}
                                {% if is_auth_enabled and current_user is none %}
                                    <form action="{{ request.url_for(__name__ ~ ':logout') }}"
                                          method="post"
                                          class="m-0">
                                        {{ csrf_input(request) }}
                                        <button type="submit" class="btn btn-light mx-1 mt-2">
                                            <i class="{{ icon('auth.logout') }}"></i>
                                            <span class="ms-2">{{ _("Logout") }}</span>
                                        </button>
                                    </form>
                                {% endif %}
                            </ul>
                        {% endblock %}
                    </div>
                    {% block sidebar_footer %}{% endblock %}
                </div>
            </aside>
        {% endblock %}
        {% block navbar %}
            {% if current_user or i18n_config.language_switcher or (timezone_config and timezone_config.timezone_switcher) %}
                <header class="navbar navbar-expand-md d-none d-lg-flex d-print-none">
                    <div class="container-xl">
                        <button class="navbar-toggler"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#navbar-menu"
                                aria-controls="navbar-menu"
                                aria-expanded="false"
                                aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-nav flex-row order-md-last gap-2">
                            {% block navbar_extra %}
                            {% endblock %}
                            {% if i18n_config.language_switcher %}
                                <div class="nav-item dropdown">
                                    <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown">
                                        <i class="{{ icon('nav.language') }}"></i>
                                        {{ get_locale_display_name(get_locale() ) }}
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                        {% for lang in i18n_config.language_switcher %}
                                            <a href="#"
                                               class="dropdown-item language-switcher-item"
                                               data-lang="{{ lang }}"
                                               data-cookie-name="{{ i18n_config.language_cookie_name }}">{{ get_locale_display_name(lang) }}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                            {% if timezone_config and timezone_config.timezone_switcher %}
                                <div class="nav-item dropdown">
                                    <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown">
                                        <i class="{{ icon('nav.world') }}"></i>
                                        {{ get_timezone_display_name(get_timezone() ) }}
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                        {% for tz in timezone_config.timezone_switcher %}
                                            <a href="#"
                                               class="dropdown-item timezone-switcher-item"
                                               data-tz="{{ tz }}"
                                               data-cookie-name="{{ timezone_config.timezone_cookie_name }}">{{ get_timezone_display_name(tz, show_offset=True) }}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                            {% if current_user %}
                                <div class="nav-item dropdown ms-3">
                                    <a href="#"
                                       class="nav-link d-flex lh-1 text-reset p-0"
                                       data-bs-toggle="dropdown"
                                       aria-label="Open user menu">{{ self.user_menu_trigger() }}</a>
                                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">{{ self.user_menu_items() }}</div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="collapse navbar-collapse" id="navbar-menu"></div>
                    </div>
                </header>
            {% endif %}
        {% endblock %}
        <div class="page-wrapper">
            <div class="page-header d-print-none">
                <div class="container-xl">
                    {% block header %}
                    {% endblock %}
                </div>
            </div>
            <div class="page-body flex-grow-1">
                <div class="container-xl">
                    {% block flash_messages %}
                        <div id="alertContainer">
                            {%- if flashed_messages %}
                                {%- for msg in flashed_messages %}
                                    {%- set alert_class = "danger" if msg.category == "error" else msg.category %}
                                    {%- set flash_icon_name = "flash.success" if msg.category == "success" else ("flash.warning" if msg.category == "warning" else ("flash.error" if msg.category == "error" else "flash.info")) %}
                                    <div class="alert alert-{{ alert_class }} alert-dismissible mb-2"
                                         role="alert">
                                        <div class="alert-icon">
                                            <i class="{{ icon(flash_icon_name) }} icon" aria-hidden="true"></i>
                                        </div>
                                        <div>
                                            <div class="alert-description">{{ msg.message }}</div>
                                        </div>
                                        <a class="btn-close" data-bs-dismiss="alert" aria-label="close"></a>
                                    </div>
                                {%- endfor %}
                            {%- endif %}
                        </div>
                    {% endblock %}
                    {% block content_before %}
                    {% endblock %}
                    {% block content %}{% endblock %}
                    {% block content_after %}{% endblock %}
                </div>
            </div>
            {% block page_footer %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
