<div class="modal modal-blur fade"
     id="modal-action"
     tabindex="-1"
     role="dialog"
     aria-modal="true"
     aria-labelledby="modal-action-title">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header d-none" id="modal-action-header">
                <h5 class="modal-title" id="modal-action-title"></h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="{{ _('Close') }}"></button>
            </div>
            <div class="modal-body">
                <div id="actionConfirmation"></div>
                <div id="modal-form"></div>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-link link-secondary me-auto"
                        data-bs-dismiss="modal">{{ _("Cancel") }}</button>
                <button id="actionSubmit"
                        type="button"
                        class="btn btn-primary"
                        data-bs-dismiss="modal">{{ _("Yes, Proceed") }}</button>
            </div>
        </div>
    </div>
</div>
