<div class="modal modal-blur fade"
     id="modal-loading"
     tabindex="-1"
     role="dialog"
     aria-modal="true"
     aria-labelledby="modal-loading-label">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="d-flex justify-content-center">
                    <div class="spinner-border text-primary" role="status" aria-hidden="true"></div>
                    <span class="ms-2" id="modal-loading-label">{{ _("Loading") }}...</span>
                </div>
            </div>
        </div>
    </div>
</div>
