<dl>
    {% for field in field.get_fields_list(request) %}
        <dt>{{ field.label }}:</dt>
        <dd>
            {% with data=(data[field.name] if data else None) %}
                {% if data == None %}
                    {% include field.null_template %}
                {% elif (data | is_iter) and (data |length) ==0 %}
                    {% include field.empty_template %}
                {% else %}
                    {% include field.detail_template %}
                {% endif %}
            {% endwith %}
        </dd>
    {% endfor %}
</dl>
