<div class="card">
    <div class="card-header{% if collapsible %} sa-panel-toggle{% endif %}"
         {% if collapsible %} data-bs-toggle="collapse" data-bs-target="#{{ widget_id }}" role="button" tabindex="0" aria-expanded="{{ 'false' if collapsed else 'true' }}" aria-controls="{{ widget_id }}" {% endif %}>
        <h3 class="card-title">
            {% if panel_icon %}<i class="{{ panel_icon }} me-2"></i>{% endif %}
            {{ title }}
        </h3>
        {% if collapsible %}
            <div class="card-actions">
                <i class="{{ icon('panel.collapse_toggle') }} sa-panel-toggle-icon"></i>
            </div>
        {% endif %}
    </div>
    <div class="{% if collapsible %}collapse{% endif %} {% if not collapsed %}show{% endif %}"
         {% if collapsible %}id="{{ widget_id }}"{% endif %}>
        <div class="card-body">{% for child_html in children_html %}{{ child_html }}{% endfor %}</div>
    </div>
</div>
